In [14]:
import numpy as np
import statsmodels.api as sm
import pandas as pd

In [24]:
### Advertising.csv를 불러와 데이터 로드하기!
ad = pd.read_csv("./Advertising.csv", index_col = 0)
ad

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [17]:
### Predictor Variable과 Response Variable을 설정해주세요!
x = ad[['TV', 'radio', 'newspaper']]
y = ad['sales']

x = sm.add_constant(x)

In [19]:
model = sm.OLS(y, x) 
result = model.fit()

In [21]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Fri, 17 Jan 2025   Prob (F-statistic):           1.58e-96
Time:                        09:27:48   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
radio          0.1885      0.009     21.893      0.000       0.172       0.206
newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
### Correlation Matrix를 만들어 출력해주세요!
ad.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [32]:
ad.corr().round(4)

               TV   radio  newspaper   sales
TV         1.0000  0.0548     0.0566  0.7822
radio      0.0548  1.0000     0.3541  0.5762
newspaper  0.0566  0.3541     1.0000  0.2283
sales      0.7822  0.5762     0.2283  1.0000